<h2> All Users </h2>

<% if (successMessage.length > 0){ %>
    <div class="success"> <%= successMessage %> </div>
<% } %>

<ul>
  <% users.forEach((oneUser)=>{ %>
    <li>
      <h3> <%= oneUser.name %></h3>
      <p>Role: <%= oneUser.role %></p>
      <p>Username: <%= oneUser.username %></p>
      <p>Facebook ID: <%= oneUser.facebookId %></p>
      <p>Google ID: <%= oneUser.googleID %></p>

  <% if (oneUser.role !== 'admin'){ %>
      <form action="/users/<%= oneUser._id %>/admin" method="post">
        <button> Upgrade </button>
      </form>
    <% } %>
    </li>
  <% }) %>

</ul>
